# Variables 
* Primitiva
* Colectora
* Sistema Operativo

### Primitivas
* String
* Integer
* Boolean
* Float
* Complex

## String

In [1]:
nombre = "Jean Charly"

In [4]:
print(type(nombre))

<class 'str'>

In [6]:
nombre1 = "jean cHarLy"
print(nombre1)

jean cHarLy

In [10]:
nombre1.title()

'Jean Charly'

In [12]:
nombre1.capitalize()

'Jean charly'

In [15]:
nombre1 = nombre1.title()
nombre1

'Jean Charly'

## Integer

In [1]:
numero = 20

In [2]:
dir(numero)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [5]:
numero = '20'
numero = int(numero)
type(numero)

int

## String - Numeros

In [8]:
nombre = "Jean Charly "
edad = 32

In [6]:
nombre + 3.14

TypeError: can only concatenate str (not "float") to str

In [15]:
nombre * 2

'Jean Charly Jean Charly '

In [19]:
nombre = "Jean Charly Ph."
apellido = "Joseph S."

In [22]:
nombreCompleto = nombre + apellido
nombreCompleto

'Jean Charly Ph.Joseph S.'

In [2]:
edad = int(input("Ingrese su edad: "))
type(edad)

ValueError: invalid literal for int() with base 10: '"Hola"'

#No Tipado

<tipo> <variable> = <valor>


#Tipado
<variable> = <valor>