## Tipos de Variables
```
* Variables Primitivas
    * String    " ", ' '
    * Integer   23
    * Booleanos True, False
    * Complejos  234j
    * Flotantes  3.14
* Variables Colectoras
    * Mutables
        * Listas
            Arreglos:
                Vectores
                    Vectores Filas [2, 3 4, 5, 6, 7]
                    Vectores Columnas [[3], [2], [4], [5]]
        * Matrices
            [
                [
                    [], [], []
                ], 
                [
                    [], [], []
                ], 
            
            ]
        * Diccionarios
            {key: valor}
    * Inmutables
        * Tuplas ()
        * Conjuntos {12, 234, Jean Charly,}
```

# Palabras Reservadas

In [3]:
import keyword

keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [21]:
#Variables Primitivas

nombre = "Jean Charly"
apellidos = 'Joseph'
print(nombre, apellidos)


#Concatenar

print("Forma 1")
nombreCompleto = nombre + " " + apellidos
print(nombreCompleto)

print("Forma 2")
nombreCompleto1 = "%s %s %s"%(apellidos, apellidos, apellidos)
print(nombreCompleto1)

print("Forma 3")
nombreCompleto2 = '{} {}'.format(nombre, apellidos)
print(nombreCompleto2)

print("Forma 4")
nombreCompleto3 = f"{nombre} {apellidos}"
print(nombreCompleto3)

Jean Charly Joseph
Forma 1
Jean Charly Joseph
Forma 2
Joseph Joseph Joseph
Forma 3
Jean Charly Joseph
Forma 4
Jean Charly Joseph

In [26]:
solicitudNombre = int(input("Ingrese su numero: "))

print(solicitudNombre)
print(type(solicitudNombre))

23423
<class 'int'>

In [28]:
print(str(solicitudNombre) + nombreCompleto)

23423Jean Charly Joseph

In [29]:
#Numericos

a = 50     #Entero
b = 3.14   #Float
c = 4j     #Complex

In [34]:
#Operaciones

print("Suma\n")
print(a + c)
print(a + a)
print(a + b)

print("Resta\n")
print(a - c)
print(a - a)
print(a - b)


print("Multiplicar\n")
print((a + c) * 2)
print(a + a)
print(a + b)

Suma

(50+4j)
100
53.14
Resta

(50-4j)
0
46.86
Multiplicar

(100+8j)
100
53.14

# Estructuras Colectoras

### Listas


```
                -5          -4    -3  -2        -1
elementos = ['JEAN CHARLY', 24, True, 3j, ["Nikola Tesla']]
                0           1     2   3        4
elementos[INDICE]
```

In [3]:
#Listas
elementos = ["Jean Charly", 23, True, 4j, 3.14, ['Nikola', "Tesla", 32]]

In [6]:
#Tama√±0

nombre = "Jean Charly"
print(len(nombre))

print("Listas")
print(elementos, "<<>>", len(elementos))

11
Listas
['Jean Charly', 23, True, 4j, 3.14, ['Nikola', 'Tesla', 32]] <<>> 6

### Indice
#### elemento[$\real$]

In [9]:
print(elementos[-6])

Jean Charly

In [13]:
print(elementos[5][-1])

32

In [15]:
print(type(elementos))

<class 'list'>

### Slice

In [95]:
#Parte 1

elementos1 = elementos[0:3]
print(elementos1)

elemento4 = ['Marie Curie', 4j, True,"Nikola", "Tesla", 'Jean Charly']
print(elemento4)

['Jean Charly', 23, True]
['Marie Curie', 4j, True, 'Nikola', 'Tesla', 'Jean Charly']

In [99]:
#Parte 2
elemento4[1:]

[4j, True, 'Nikola', 'Tesla', 'Jean Charly']

In [100]:
#Parte 3
elemento4[:4]

['Marie Curie', 4j, True, 'Nikola']

In [116]:
#Parte 4
elemento4[:]

['Marie Curie', 4j, True, 'Nikola', 'Tesla', 'Jean Charly']

In [114]:
#Parte 4
elemento4[0:5:3]

['Marie Curie', 'Nikola']

In [19]:
elementos + elementos1

['Jean Charly',
 23,
 True,
 4j,
 3.14,
 ['Nikola', 'Tesla', 32],
 'Jean Charly',
 23,
 True]

In [20]:
elementos * 3

['Jean Charly',
 23,
 True,
 4j,
 3.14,
 ['Nikola', 'Tesla', 32],
 'Jean Charly',
 23,
 True,
 4j,
 3.14,
 ['Nikola', 'Tesla', 32],
 'Jean Charly',
 23,
 True,
 4j,
 3.14,
 ['Nikola', 'Tesla', 32]]

In [23]:
elementos += elementos

In [24]:
elementos

['Jean Charly',
 23,
 True,
 4j,
 3.14,
 ['Nikola', 'Tesla', 32],
 'Jean Charly',
 23,
 True,
 4j,
 3.14,
 ['Nikola', 'Tesla', 32]]

In [56]:
elementos2 = []
print(elementos2)

[]

In [57]:
#Append

elementos2.append("Marie Curie")
print(elementos2)

['Marie Curie']

In [58]:
elementos3 = elementos2

In [83]:
print("Elementos3: ", id(elementos3), "\n" "Elementos2 :", id(elementos2),  "\n" "Elementos4 :", id(elementos4))

Elementos3:  124242400999488
Elementos2 : 124242400999488
Elementos4 : 124242399063872

In [67]:
elementos3.append(34)
print(elementos2)
print(elementos3)

['Marie Curie', 34, 34, 34, 34, 34]
['Marie Curie', 34, 34, 34, 34, 34]

In [70]:
elementos4 = elementos3.copy()
print(elementos2)
print(elementos3)
print(elementos4)

['Marie Curie', 34, 34, 34, 34, 34]
['Marie Curie', 34, 34, 34, 34, 34]
['Marie Curie', 34, 34, 34, 34, 34]

In [71]:
elementos4.append("Jean Charly")
print(elementos2)
print(elementos3)
print(elementos4)

['Marie Curie', 34, 34, 34, 34, 34]
['Marie Curie', 34, 34, 34, 34, 34]
['Marie Curie', 34, 34, 34, 34, 34, 'Jean Charly']

In [80]:
elementos2.pop()
print(elementos2)
print(elementos3)

[]
[]

### Iterar

# $$\sum^{n}_{i=1} x_i$$

```
PARA i EN EL RANGO(n){
    IMPRIMI(x_i)
}
```

In [118]:
for i in range(len(elemento4)):
    print(i, elemento4[i])

0 Marie Curie
1 4j
2 True
3 Nikola
4 Tesla
5 Jean Charly

In [120]:
for i in elemento4:
    print(i)

Marie Curie
4j
True
Nikola
Tesla
Jean Charly

In [126]:
nuevaLista = []
for i in range(len(elemento4)):
    if elemento4[i] not in ["Marie Curie", 'Jean Charly', 4j, "Tesla"]:
        print(elemento4[i])
        nuevaLista.append(elemento4[i])
print(nuevaLista)
print(elemento4)

True
Nikola
[True, 'Nikola']
['Marie Curie', 4j, True, 'Nikola', 'Tesla', 'Jean Charly']