# Ficheros

#### Permisos
* r -> Read  (Lectura)
* w -> Write (Escritura)
* x -> Eject (Ejecucion)
* a -> Editar

### Caracteristica

* Nombre
* Formato
* Extension

{

    Nombre: "Jean Charly"
    Apellido: "Joseph"
    Edad: 32
}

nombre, apellido, edad
Jean Charly, Joseph, 32

In [2]:
extensiones = ["csv", "xlsx", "json", "docs"]

##### Forma de crear un fichero en Python

```
open(nombreArchivo, permiso(r, w, a), codificador='utf-8')
    Constructor
close()
```

In [7]:
# Write -> w

for i in range(len(extensiones)):
    with open("extension/elemento.%s"%extensiones[i], 'w', encoding='UTF-8') as f:
        f.writelines("Bienvenidos estudiantes Excelente....... :)")
        f.close()

In [ ]:
# Read -> r
for i in range(len(extensiones)):
    with open("extension/elemento.%s"%extensiones[i], 'r', encoding='UTF-8') as f:
        f.writelines("Bienvenidos estudiantes... :)")
        f.close()

In [9]:
# Edit -> a
for i in range(len(extensiones)):
    with open("extension/elemento.%s"%extensiones[i], 'a', encoding='UTF-8') as f:
        f.writelines("Bienvenidos estudiantes... :)")
        f.writelines("\nPrueba de prueba... jejejej")
        f.close()

In [35]:
# Construir modelo de registro

with open('registro.csv', 'w', encoding='UTF-8') as f:
    #Header
    f.writelines("nombre;apellido;edad;sexo\n")
    f.close()

In [18]:
with open('registro.csv', 'a', encoding='UTF-8') as f:
    #Registros
    f.writelines("Jean Charly Joseph 32 0\n")
    f.writelines("Nikola Tesla 39 0\n")
    f.writelines("Marie Curie 20 1\n")
    f.close()

In [19]:
class Registros:
    def __init__(self, nombre, apellido, edad, sexo):
        self.nombre = nombre
        self.apellido = apellido
        self.edad = edad 
        self.sexo = sexo
    def __repr__(self):
        return "Registro!!!"

In [38]:
nombre = input("Ingrese su nombre: ")
apellidos = input("Ingrese su apellido: ")
edad = int(input("Ingrese su edad: "))
sexo = input("Ingrese su sexo [0=M, 1=F]: ")

registro1 = Registros(nombre, apellidos, edad, int(sexo))
with open('registro.csv', 'a', encoding='UTF-8') as f:
    #Registros
    if registro1.sexo >= 0 or registro1.sexo <=1:
        f.writelines("%s; %s; %s; %s\n"%(registro1.nombre, registro1.apellido, registro1.edad, registro1.sexo))
    else:
        print("Lo siendo, verifique su sexo...")
    f.close()

In [30]:
import pandas as pd

In [54]:
df = pd.read_csv("registro.csv", delimiter=';')
df["Sexo 1"] = df[' sexo'].apply(lambda x: "Femenino" if x == 1 else "Masculino")
df

          nombre          apellido   edad   sexo     Sexo 1
0         Priana           Santana     19      1   Femenino
1  Jesus Alberto            Araujo     24      0  Masculino
2          Oscar   Suero Dominguez     18      0  Masculino

In [56]:
int(df[' edad'].mean())

20

In [60]:
columnas = [" nombre", " apellido", " edad"]
df = pd.read_csv("registro.csv", delimiter=';', names=columnas)
df

                         nombre  apellido   edad
nombre                 apellido      edad   sexo
Priana                  Santana        19      1
Jesus Alberto            Araujo        24      0
Oscar           Suero Dominguez        18      0