In [19]:
#Perfil de Objeto
#Nombre
#Apellido
#Edad
#Sexo

class perfilEstudiante:
    def __init__(self, cedula, nombre, apellido, edad, sexo):
        self.cedula = cedula
        self.nombre = nombre
        self.apellido = apellido
        self.edad = edad
        self.sexo = sexo
    def __str__(self):
        if self.sexo == 1:
            return "Bienvenida sea %s"%self.nombre
        return "Bienvenido sea %s"%self.nombre
    
class prestamoSolicitud:
    def __init__(self, cedula, cantidadPrestamo, tiempo, tasa):
        self.cedula = cedula
        self.cantidadPrestamo = cantidadPrestamo
        self.tiempo = tiempo
        self.tasa = tasa
        self.amortizacion = []
    def pagoPrestamo(self, cantidadApagar):
        self.amortizacion.append(cantidadApagar)
        balancePrestamo = self.cantidadPrestamo - sum(self.amortizacion)
        print(self.amortizacion)
        return balancePrestamo

In [3]:
#Instancia del Objeto

p1 = perfilEstudiante("Jean Charly", "Joseph", 34, 0)
print(p1)
p2 = perfilEstudiante("Marie", "Curie", 29, 1)
print(p2)

Bienvenido sea Jean Charly
Bienvenida sea Marie

In [6]:
nombre = input("Ingrese su nombre: ")
apellidos = input("Ingrese su apellidos: ")
edad = int(input("Ingrese su edad: "))
sexo = int(input("Ingrese su sexo: [1=F, 0=M]"))
if sexo < 0 or sexo > 1:
    print("Estas digitando algo mal, intente nuevamente...")
p3 = perfilEstudiante(nombre, apellidos, edad, sexo)

In [10]:
p3.nombre = "Jean Charly"

In [11]:
print(p3)

Bienvenido sea Jean Charly

# Segunda Parte

In [20]:
p4 = perfilEstudiante("01", "Jean Charly", "Joseph", 34, 0)
pm = prestamoSolicitud(p4.cedula, 10000, 12, 3.5)

In [22]:
pm.pagoPrestamo(2000)

[1500, 2000]

6500

In [32]:
import sys
import os

cedula = input("Ingrese su cedula: ")
nombre = input("Ingrese su nombre: ")
apellidos = input("Ingrese su apellidos: ")
edad = int(input("Ingrese su edad: "))
sexo = int(input("Ingrese su sexo: [1=F, 0=M]"))
if sexo < 0 or sexo > 1:
    print("Estas digitando algo mal, intente nuevamente...")
datos = perfilEstudiante(cedula, nombre, apellidos, edad, sexo)


if os.path.exists("Registro.csv") == True:
    with open("Registro.csv", 'a', encoding='UTF-8') as f:
         f.writelines("%s|%s|%s|%s|%s\n"%(datos.cedula, datos.nombre, datos.apellido, datos.edad, datos.sexo))
else:
    with open("Registro.csv", 'w', encoding='UTF-8') as f:
        f.writelines("Cedula|Nombre|Apellido|Edad|Sexo\n")
        f.close()

In [35]:
import pandas as pd

df = pd.read_csv('Registro.csv', delimiter="|")
df['SexoModificado'] = df['Sexo'].apply(lambda x: "Femenino" if x == 1 else "Masculino")
df

    Cedula       Nombre    Apellido  Edad  Sexo SexoModificado
0        1  Jean Charly      Joseph    34     0      Masculino
1  2034234       Nikola       Tesla    32     0      Masculino
2     2342      Hipatia  Alejandria    20     1       Femenino
3    23423        Marie       Curie    49     1       Femenino