###### Elabora por: Jean Charly Ph. Joseph S.

# Conexion de Base

## SQLite

In [1]:
import sqlite3 as s

In [2]:
#Pythonista
with open("PruebaDB1.db", "w", encoding="UTF-8") as f:
    f.close()
    
#Liberria
conn = s.connect("PruebaDB1.db")

In [3]:
cursor = conn.cursor()

In [4]:
cursor.execute("""CREATE TABLE estudiantes(
            id INTEGER  PRIMARY KEY AUTOINCREMENT,
            nombre VARCHAR(50), 
            apellidos VARCHAR(75), 
            edad REAL, 
            sexo VARCHAR(10))""")

In [7]:
conn.commit()

In [5]:
listaRegistro = [
    (1, "Jean Charly", "Joseph", 32, "Masculino"),
    (2, "Nikola", "Tesla", 30, "Masculino"),
    (3, "Marie", "Curie", 20, "Femenino"),
    (4, "Hipatia", "De Alejandria", 18, "Femenino")
]

In [6]:
cursor.executemany("""INSERT INTO estudiantes VALUES(?, ?, ?, ?, ?)""", listaRegistro)

In [7]:
conn.commit()

In [16]:
class Estudiante:
    def __init__(self, ids, nombre, apellido, edad, sexo):
        self.ids = None
        self.nombre = nombre
        self.apellido = apellido
        self.edad = edad
        self.sexo = sexo
    def CambiarSexo(self):
        if self.sexo == 1:
            self.sexo = "Femenino"
        else:
            self.sexo = "Masculino"
        return self.sexo
    def save(self):
        import os
        import sqlite3 as s
        FILE = input("Ingrese la base de datos: ")
        if not os.path.exists(FILE+".db"):
            with open("PruebaDB.db", 'w', encoding="UTF-8") as f:
                f.close()
            conn = s.connect(FILE+'.db')
            curso = conn.cursor()
            cursor.execute("""CREATE TABLE estudiantes(
                            id INTEGER  PRIMARY KEY AUTOINCREMENT,
                            nombre VARCHAR(50), 
                            apellidos VARCHAR(75), 
                            edad REAL, 
                            sexo VARCHAR(10))""")
        else:
            REGISTRO = (self.ids, self.nombre, self.apellido, self.edad, self.sexo)
            conn = s.connect(FILE+".db")
            curso = conn.cursor()
            curso.execute("""INSERT INTO estudiantes VALUES(?, ?, ?, ?, ?)""", REGISTRO)
            conn.commit()
            return "%s ha sido registrado satisfactoriamente!!! :)"%self.nombre

In [17]:
ids = 5

In [21]:
e1 = Estudiante(ids, "Carl F.", "Gauss", 3182, 0)
ids += 1

In [22]:
e1.CambiarSexo()

'Masculino'

In [ ]:
e1.save()

# PostgreSQL

In [29]:
import psycopg2 as pgsql
import os

In [110]:
conn = pgsql.connect(
                host="localhost",
                port=5432,
                database="dvdrental",
                user="postgres",
                password=os.environ["PASSWORD"] #Estoy utilizando una varaible de entorno
)

#### Crear el Cursor

In [111]:
cursor = conn.cursor()

#### Cunsulta a Base de Datos

In [147]:
cursor.execute("SELECT * FROM actor")
for i in cursor.fetchall():
    print(i)

In [ ]:
existentes = cursor.fetchmany()

In [119]:
from datetime import datetime

In [125]:
fecha = datetime.now()

In [130]:
fecha.strftime("%d/%m/%Y")

'15/03/2023'

In [136]:
fecha.strftime("%m-%d-%Y %H:%M:%S")

'03-15-2023 09H:23:21'