# Tipos de Variables

* Variables Primitivas
    - String
    - Integer
    - Booleanos
    - Complejos
    - Float

* Variables Colectoras
    ```
    * Lista (Estatica, Dinamica) [ ... ]
        *  Vectores
            * Vector Fila(Arreglo/elementos)
            * Vector Columnas
        * Matriz
    - Diccionarios {key: valor}
#### Inmutables
    - Conjuntos {...}
    - Tuplas (...)
```

# Palabras Reservas de Python

In [6]:
import keyword

keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [17]:
# Variables Primitivas 

#String ' ', " "

nombre = "Jean Charly"
apellido = "Joseph"
print(nombre)

#Concatenar
print("Forma 1")
nombreCompleto = nombre + apellido
print(nombreCompleto)

print("Forma 2")

nombreCompleto1 = nombre + " " + apellido
print(nombreCompleto1)

print("Forma 3")

nombreCompleto2 = 'nombre: %s apellido: %s'%(nombre, apellido)
print(nombreCompleto2)

print("Forma 4")

nombreCompleto3 = "{} {}".format(nombre, apellido)
print(nombreCompleto3)

print("Forma 5")

nombreCompleto4 = f"{nombre} {apellido}"
print(nombreCompleto4)

Jean Charly
Forma 1
Jean CharlyJoseph
Forma 2
Jean Charly Joseph
Forma 3
nombre: Jean Charly apellido: Joseph
Forma 4
Jean Charly Joseph
Forma 5
Jean Charly Joseph

In [20]:
# No concatenar

edad = 30

nombreEdad = int(nombre) + str(edad)
print(nombreEdad)

ValueError: invalid literal for int() with base 10: 'Jean Charly'

In [22]:
# Numericos

a = 40   # Entero
b = 3.14 #Decimal
c = 3j   #Complejo

In [28]:
#Operaciones

#Suma
print("Suma\n")
print(a + c)
print(a + b)
print(c + b)

#Resta
print("\tResta\n")
print(a - c)
print(a - b)
print(c - b)

Suma

(40+3j)
43.14
(3.14+3j)
	Resta

(40-3j)
36.86
(-3.14+3j)

In [34]:
#Operaciones con String

#Con signo de suma podemos concatenar

print(nombre + " " +apellido)

#Con signo de multiplicacion se repite n cantidad de veces
print(nombre * 5)

Jean Charly Joseph
Jean CharlyJean CharlyJean CharlyJean CharlyJean Charly

# Variables Colectoras

In [13]:
#Listas 

elementos = ["Jean Charly", "Joseph", 32, True, None, 3.14, 43j, [], ['Nikola', "Tesla"]]
print(elementos)

['Jean Charly', 'Joseph', 32, True, None, 3.14, 43j, [], ['Nikola', 'Tesla']]

### Indice

In [38]:
elementos[2]

32

### Slices

In [39]:
elementos[:2]

['Jean Charly', 'Joseph']

In [40]:
elementos[2:]

[32, True, None, 3.14, 43j, [], ['Nikola', 'Tesla']]

In [41]:
elementos[2:6]

[32, True, None, 3.14]

In [44]:
elementos[1] + "Jean Charly"

'JosephJean Charly'

In [48]:
# Tamaño de la Lista

len(elementos)

9

In [53]:
#Tipo de datos o elementos

type(elementos[0])

str

## $\sum^{n}_{i=1} x_i$

```
PARA i EN RANGO(INTERVALO):
    IMPRIMIR(i)
```

In [55]:
for i in range(len(elementos)):
    print(i, " >>>", elementos[i], " \t\t", type(elementos[i]))

0  >>> Jean Charly  		 <class 'str'>
1  >>> Joseph  		 <class 'str'>
2  >>> 32  		 <class 'int'>
3  >>> True  		 <class 'bool'>
4  >>> None  		 <class 'NoneType'>
5  >>> 3.14  		 <class 'float'>
6  >>> 43j  		 <class 'complex'>
7  >>> []  		 <class 'list'>
8  >>> ['Nikola', 'Tesla']  		 <class 'list'>

# Control de Flujos


```
SI (CONDICION) ENTONCES:
     SENTENCIA
SINO
     SENTENCIA
```

## Operadores
Son factores booleanos

```
== Igual
<  Menor
>  Mayor
<= Menor Igual
>= Mayor Igual
!= Diferente
```

In [ ]:
#Enunciado
##Simple
(2 < 1)

### Conectores

* Y (and &) #V = VV
* O (or ||) #V = VF
* No (not ) #V = F

In [1]:
#Compuesto
### Conectores Logicos

a = (4 > 1)
b = (5 == 10)
print(a)
print(b)

True
False

In [4]:
#AND
print("Soy AND")
print((4 > 1) and (5 == 10), '\n')
# V            F
# F

#OR
print("Soy OR")
print((4 > 1) or (5 == 10))
# V            F
# V

Soy AND
False

Soy OR
True

In [5]:
#Condicion Simple

if (4 > 1):
    print("Excelente")
else:
    print("Algo esta mal...")

Excelente

In [6]:
#Condicion Compuesta

# And
if (4 > 1) and (5 == 10):
    print("Excelente")
else:
    print("Algo esta mal")

Algo esta mal

In [7]:
# OR
if (4 > 1) or (5 == 10):
    print("Excelente")
else:
    print("Algo esta mal")

Excelente

In [8]:
# And
if (4 > 1) and not(5 == 10):
    print("Excelente")
else:
    print("Algo esta mal")

Excelente

In [10]:
# OR
if (4 > 1) or not(5 == 10):
    print("Excelente")
else:
    print("Algo esta mal")

Excelente

## Evaluacion de Elementos

In [53]:
elementosEvaluados = []
for i in range(len(elementos)):
    if type(elementos[i]) is str or type(elementos[i]) is list:
        if len(elementos[i]) != 0:
            print(elementos[i])

Jean Charly
Joseph
['Nikola', 'Tesla']

In [3]:
n = int(input("Ingrese un numero: "))
try:
    print(2 / n)
except ZeroDivisionError:
    print("No puede divir entre cero.... :(")

No puede divir entre cero.... :(

In [5]:
lista = [2, 3, 4, 5, "Jean Charly", 2, 'Jean Charly']
print("Esto es una lista: \n", lista)
print("")

conjunto = set(lista)
print("Esto es un conjunto: \n", conjunto)

Esto es una lista:
 [2, 3, 4, 5, 'Jean Charly', 2, 'Jean Charly']

Esto es un conjunto:
 {2, 3, 4, 5, 'Jean Charly'}

In [11]:
nombres = ["Jean Charly", "Nika Tesla", "Marie Curie"]
nombres[0] = "Issac Newton"
nombres

['Issac Newton', 'Nika Tesla', 'Marie Curie']

# Diccionarios
Mutables\
{Key : Value}

nombres = {'semanas': ["Lunes", "Martes", ...]}

In [15]:
diasSemana = {"diaSemana": ['lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes']}
print(diasSemana)
diasSemana['diaSemana'][0] = "Lunes"
print(diasSemana['diaSemana'])

{'diaSemana': ['lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes']}
['Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes']

In [16]:
diasSemana['finSemana'] = ['Sabado', 'Domingo']
print(diasSemana)

{'diaSemana': ['Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes'], 'finSemana': ['Sabado', 'Domingo']}

In [57]:
## Diccionario como Base de Datos

columnas = ["nombres", 'apellidos', 'edad']

#Incomoda

dataset = {}

for i in range(len(columnas)):
    dataset[columnas[i]] = []
dataset


#Elegante
dataset1 = {columnas[i]: [] for i in range(len(columnas))}
dataset1

{'nombres': [], 'apellidos': [], 'edad': []}

In [24]:
#Funcion random, pandas

from random import  randint
import pandas as pd

In [58]:
dataset1['sexo'] = []
for i in range(10):
    dataset1['nombres'].append("nombre_%s"%randint(1, 50))
    dataset1['apellidos'].append("apellidos_%s"%(randint(1, 50)))
    dataset1['edad'].append(randint(18, 50))
    dataset1['sexo'].append(randint(0, 1))
dataset1

{'nombres': ['nombre_6',
  'nombre_4',
  'nombre_31',
  'nombre_24',
  'nombre_19',
  'nombre_23',
  'nombre_2',
  'nombre_43',
  'nombre_25',
  'nombre_45'],
 'apellidos': ['apellidos_9',
  'apellidos_28',
  'apellidos_6',
  'apellidos_35',
  'apellidos_41',
  'apellidos_12',
  'apellidos_29',
  'apellidos_9',
  'apellidos_20',
  'apellidos_17'],
 'edad': [32, 22, 32, 45, 32, 31, 35, 20, 26, 43],
 'sexo': [0, 1, 0, 1, 0, 0, 0, 0, 1, 1]}

In [28]:
#Eliminar el ultimo elemento de una lista, siempre y cuando no se le 
#indique el indice
dataset1['nombres'].pop(0)

'nombre_25'

In [35]:
df = pd.DataFrame(dataset1)
df.to_excel("ListadoNombres.xlsx", index=False)

# Función

$$f(x) = y\\$$
$$y = f(x)$$

- Variables
    * Variables Independientes $x$
    * Variables Dependientes $y$

```
FUNCION NOMBRE_(P_1, P_2, P_N) ENTONCES
    <type> VALUE = PRCESO(P_1 + P_2 / (P_N))
    RETORNAR VALUE
    PRITN(VALUE)
```

- Tipos de Funciones

- Funciones definidas
- Funciones Lenguaje (Sintaxis)
- Funciones Anonimas
- Funciones Recursivas
- Funciones Modulares
- Fuciones  Matematicas
- Funciones Trigonometricas
- Funciones Sistema Operativo

In [48]:
def nombre_(p1, p2, pN):
    try:
        valor = (p1 + p2 / pN)
        print(valor)
        return valor
    except ZeroDivisionError:
        print("No se puede imprimir entre 0 :(")

resultado = nombre_(2, 3, 4) 
resultado * 4

2.75

11.0

In [52]:
#Funcion recursiva

def recursion(n):
    if n == 0:
        return "Adios!!!"
    else:
        print("Valor de N: ", n)
        return recursion(recursion(n -1))
recursion(10)

Valor de N:  10
Valor de N:  9
Valor de N:  8
Valor de N:  7
Valor de N:  6
Valor de N:  5
Valor de N:  4
Valor de N:  3
Valor de N:  2
Valor de N:  1
Valor de N:  Adios!!!

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [68]:
def modificacionSexo(x):
    if x == 1:
        return 'Femenino'
    return "Masculino"

In [71]:
df['sexoModificado1'] = df['sexo'].apply(lambda x: modificacionSexo(x))
# df['sexo'].apply(lambda x: modificacionSexo(x))

df['sexoModificado2'] = df['sexo'].apply(lambda x: "Femenio" if x == 1 else "Masculino")

     nombres     apellidos  edad  sexo sexoModificado1 sexoModificado2
0  nombre_15  apellidos_26    21     0       Masculino       Masculino
1  nombre_24  apellidos_15    44     1        Femenino         Femenio
2   nombre_9  apellidos_39    40     1        Femenino         Femenio
3  nombre_31  apellidos_29    25     0       Masculino       Masculino
4   nombre_6  apellidos_25    34     0       Masculino       Masculino
5  nombre_18   apellidos_7    26     0       Masculino       Masculino
6  nombre_29   apellidos_5    23     0       Masculino       Masculino
7  nombre_28  apellidos_16    45     1        Femenino         Femenio
8  nombre_22  apellidos_21    43     0       Masculino       Masculino
9   nombre_9  apellidos_11    42     0       Masculino       Masculino

In [74]:
#  Lambda 
a = lambda x: x*10
a(2)

20

In [55]:
elementos = ['a.xlsx', 'b.csv', 'c.doc', 'd.jpg', 'bb.csv', 'bbc.csv']
for i in range(len(elementos)):
    if 'csv' in elementos[i].split('.'):
        print(elementos[i])

b.csv
bb.csv
bbc.csv

# Conjuntos - set


### Operaciones de Conjutos

* Union ( | )
* Interserccion ( & )
* Diferencia ( - )
* Diferencia Simetrica ( ^ )

In [78]:
conjunto1 = {10,2, 4, 3, 5, 6,6}
print(conjunto1)

{2, 3, 4, 5, 6, 10}

In [79]:
#add
conjunto1.add(0)
print(conjunto1)

{0, 2, 3, 4, 5, 6, 10}

In [80]:
#Remover
conjunto1.remove(6)
print(conjunto1)

{0, 2, 3, 4, 5, 10}

In [81]:
#Descargar
conjunto1.discard(3)
print(conjunto1)

{0, 2, 4, 5, 10}

In [87]:
# * Union ( | )
# * Interserccion ( & )
# * Diferencia ( - )
# * Diferencia Simetrica ( ^ )


A = {3, 4, 5, 6, 2, 10, 22}
B = {4, 2, 5, 7}
print(f"Conjuntos de A:\t {A}\nConjuntos de B:\t {B}")

Conjuntos de A:	 {2, 3, 4, 5, 6, 22, 10}
Conjuntos de B:	 {2, 4, 5, 7}

In [88]:
#Union ( | )
print( A | B)

{2, 3, 4, 5, 6, 7, 10, 22}

In [90]:
#Interseccion ( & )
print(A & B)
print(B & A)

{2, 4, 5}
{2, 4, 5}

In [91]:
#Diferencia ( - )
print(A -  B)
print(B - A)

{10, 3, 6, 22}
{7}

In [92]:
#Diferencia Simetrica ( ^ )
print(A ^ B)
print(B ^ A)

{3, 6, 7, 10, 22}
{3, 7, 6, 22, 10}