# Variables

* Estructura Primitivas
    * String -> str
    * Integer -> int
    * Float -> float
    * Complex -> complex
    * Bool -> bool
* Estructuras Colectoras
    * Listas  -> [ ] -> Mutabilidad -> list
        * Arreglos
            * Vectores
                * Vector Columna
                * Vector Filas
            * Matrices
    * Tuplas -> () -> tuple
    * Diccionarios -> {key: valor } -> Mutablidad -> dict
    * Conjutos -> { } -> set
* Sistema Operativo
    * Variables de Entorno


## Tipos de Lenguajes
* Tipados 
    - <tipo> nombrer = valor
* No Tipados
    - nombre = valor

## Estructuras Primitivas

In [2]:
# String
nombre = "Jean Charly "
apellido = 'Joseph'
nombre_completo = nombre + apellido
print(nombre_completo)

Jean Charly Joseph

In [4]:
nombre1 = input("Ingrese su nombre: ")

In [5]:
print(nombre1)

Nikola

In [12]:
edad = int(input("Ingrese su edad: ")) #base10
print("Su edad es: ", edad)
print(f"Su edad es: {edad}")
print("Su edad es: %s"%edad)
print("Su edad es: {}".format(edad))
print(type(edad))

Su edad es:  37
Su edad es: 37
Su edad es: 37
Su edad es: 37
<class 'int'>

In [29]:
e1 = " La tAbla PerIodiCa de lOs          eLemenTos"
e1.title()
e1.capitalize()
" ".join(e1.upper().strip().split()).replace("ELEMENTO", "Prueba")

'LA TABLA PERIODICA DE LOS PruebaS'

In [35]:
nombre_completo1 = input("Ingrese su nombre completo: ").title()
print(" ".join(nombre_completo1.strip().split()))

Jean Charly 10 Joseph Saint

In [46]:
import re

regla = re.compile(r'^[a-zA-Z\s]+$')
nombre2 = "jean10".title()
bool(regla.match(nombre2))

False

In [49]:
#Compleja

num_complejo = 423.2j + 3
print(num_complejo)

(3+423.2j)

In [ ]:
#Booleanos

boolean =  True
boolean1 = False # None

## Estructuras Colectoras

In [52]:
# Lista
"""
Para todos los lenguajes de programaci√≥n derivado de C/C++ inician en
el indice 0 de izquierda a derecha e inicia en el indice -1 de derecha a izquierda
"""
elemento = ["Jean Charly", 32, 3.14, True, 323j, [3, 10, "Nikola Tesla"]]
elemento[-1]

[3, 10, 'Nikola Tesla']

In [53]:
elemento[0]

'Jean Charly'

In [54]:
#Slice

elemento[0:3]

['Jean Charly', 32, 3.14]

In [56]:
elemento[-3:]

[True, 323j, [3, 10, 'Nikola Tesla']]

In [58]:
elemento1 = ['Mari Curie', 32, True]
nuevaLista = elemento + elemento1
nuevaLista

['Jean Charly',
 32,
 3.14,
 True,
 323j,
 [3, 10, 'Nikola Tesla'],
 'Mari Curie',
 32,
 True]

In [59]:
nuevaLista.append("F. Gauss")
print(nuevaLista)

['Jean Charly', 32, 3.14, True, 323j, [3, 10, 'Nikola Tesla'], 'Mari Curie', 32, True, 'F. Gauss']

In [ ]:
# Vectores

v1 = ["Jean Charly", "Nikola", "Galileo", "Issac"]
v2 = ["Joseph", "Tesla", "Galile", "Newton"]
v3 = [32, 30, 50, None]

In [106]:
#Matrice

m1 = [["Jean Charly", "Nikola", "Galileo", "Issac"],
      ["Joseph", "Tesla", "Galile", "Newton"],
      [32, 30, 50, None]]
m1

[['Jean Charly', 'Nikola', 'Galileo', 'Issac'],
 ['Joseph', 'Tesla', 'Galile', 'Newton'],
 [32, 30, 50, None]]

In [65]:
m1[0][1]

'Nikola'

In [66]:
m1[0][1] = "Marie"
m1

[['Jean Charly', 'Marie', 'Galileo', 'Issac'],
 ['Joseph', 'Tesla', 'Galile', 'Newton'],
 [32, 30, 50, None]]

In [67]:
m1[1][1] = "Curie"
m1

[['Jean Charly', 'Marie', 'Galileo', 'Issac'],
 ['Joseph', 'Curie', 'Galile', 'Newton'],
 [32, 30, 50, None]]

In [69]:
arreglo1 = [3, 33, 4, 5]
arreglo1 * 3

[3, 33, 4, 5, 3, 33, 4, 5, 3, 33, 4, 5]

In [70]:
for i in arreglo1:
    print(i * 3)

9
99
12
15

In [71]:
[i * 3 for i in arreglo1]

[9, 99, 12, 15]

In [72]:
import numpy as np

arreglo2 = np.array(arreglo1)
arreglo2

array([ 3, 33,  4,  5])

In [88]:
arreglo2 = arreglo2 * 9

In [89]:
def funcion1(n):
    if n < 100:
        return 0
    else:
        return 1

funcion1(100)

1

In [92]:
arreglo2
# print(np.vectorize(funcion1)(arreglo2))

"""
27  -> funcion1(n)
297 -> funcion1(n)
36  -> funcion1(n)
45  -> funcion1(n)
"""

array([ 27, 297,  36,  45])

# Diccionarios
{key: valor}

In [93]:
perfil = {"nombre": "Jean Charly", "apellido": "Joseph", "edad": 32, "gustos": ["Lectura", "Lectura^2", "Lecutra"]}
perfil

{'nombre': 'Jean Charly',
 'apellido': 'Joseph',
 'edad': 32,
 'gustos': ['Lectura', 'Lectura^2', 'Lecutra']}

In [96]:
perfil['nombre'] = "Nikola"
perfil

{'nombre': 'Nikola',
 'apellido': 'Joseph',
 'edad': 32,
 'gustos': ['Lectura', 'Lectura^2', 'Lecutra']}

In [97]:
perfil['gustos']

['Lectura', 'Lectura^2', 'Lecutra']

In [107]:
#Crear matriz de datos demograficos

dataset = {'Nombres': m1[0], 'apellidos': m1[1], "edad": m1[2]}
dataset

{'Nombres': ['Jean Charly', 'Nikola', 'Galileo', 'Issac'],
 'apellidos': ['Joseph', 'Tesla', 'Galile', 'Newton'],
 'edad': [32, 30, 50, None]}

In [119]:
import pandas as pd


df = pd.DataFrame(dataset)
df

       Nombres apellidos  edad
0  Jean Charly    Joseph  32.0
1       Nikola     Tesla  30.0
2      Galileo    Galile  50.0
3        Issac    Newton   NaN

In [109]:
# Tuplas

t = ("Jean Charly", 23, False, [3, 4, 5])
t

('Jean Charly', 23, False, [3, 4, 5])

In [111]:
t[0] = "Nikila"

TypeError: 'tuple' object does not support item assignment

In [113]:
# Conjutnos

conj = {2, 3, 4, 5, 64, 3, 2, 4}
conj
conj2 = {2, 3, 50, 200}

In [116]:
conj.intersection(conj2)

{2, 3}

In [117]:
conj - conj2

{4, 5, 64}

In [118]:
conj2 - conj

{50, 200}

In [120]:
df

       Nombres apellidos  edad
0  Jean Charly    Joseph  32.0
1       Nikola     Tesla  30.0
2      Galileo    Galile  50.0
3        Issac    Newton   NaN

In [123]:
dataset['promedioPrueba'] = [80, 49, 20, 100]
dataset

{'Nombres': ['Jean Charly', 'Nikola', 'Galileo', 'Issac'],
 'apellidos': ['Joseph', 'Tesla', 'Galile', 'Newton'],
 'edad': [32, 30, 50, None],
 'promedioPrueba': [80, 49, 20, 100]}

In [124]:
df1 = pd.DataFrame(dataset)

In [125]:
df1

       Nombres apellidos  edad  promedioPrueba
0  Jean Charly    Joseph  32.0              80
1       Nikola     Tesla  30.0              49
2      Galileo    Galile  50.0              20
3        Issac    Newton   NaN             100

In [126]:
conjA = df.columns.tolist()
conjB = df1.columns.tolist()

In [134]:
conjA - conjB

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [129]:
A = set(conjA)
B = set(conjB)

In [131]:
B - A

{'promedioPrueba'}