# Variables
```
Estructuras Primitivas
- String '', ""
- Integer $\mathbb{R}$
- Boolen [Verdadero - Falso]
- Complejo [$\mathbb{R}$ j]
- Float - $\pi$

- Lenguaje No tipado

<tipo> <nombreVariable> = <valorVariable>

- lenguaje tipado

<nombreVariable> = <valorVariable>
``````

In [17]:
nombre = "Jean Charly"
#string nombre = valor
print(nombre)

edad = 23
pi = 3.14
sexo = False
comple = 43j

Jean Charly

# Variables Estructuradas

- Mutables
    
    ''' Son todas aquellas que se puede modificar despues de haber sido creadas
        llamandolo por su indice'''

    * Listas -> []
        - Listas
            """Es una lista cuando existen diferentes elementos que no son del mismo tipo"""
        - Arreglos
            """Es un arreglo cuando el tipo de datos corresponde todo a lo mismo"""
        - Matrices
                """Es una matriz cuando exite N cantidad de Arreglos con valores de mismo tipo"""
    * Diccionarios -> {<keys>: <valor>}
    
- Inmutables
'''No se puede modificar despues de haber sido creadas'''
    * Tuplas -> ( )
    * Conjuntos -> { }

## Listas

In [43]:
elementos = ["Jean Charly", "Joseph", 32, False]
elementos

['Jean Charly', 'Joseph', 32, False]

In [44]:
elementos.append("Leer")
elementos

['Jean Charly', 'Joseph', 32, False, 'Leer']

### Indices

```
 -5                 -4    -3    -2        -1
['Jean Charly', 'Joseph', 32, False, 'Leer']
        0           1      2   3        4
```

In [29]:
elementos[0] = "Jose Tesla"
elementos

['Jose Tesla', 'Joseph', 32, False, 'Leer']

In [31]:
elementos[0:3]

['Jose Tesla', 'Joseph', 32]

In [45]:
buffer = []
numIndice = int(input("Ingrese el valor que desea borrar: "))
buffer.append(elementos[numIndice])
elementos.pop(numIndice)
elementos

['Joseph', 32, False, 'Leer']

In [46]:
buffer

['Jean Charly']

In [47]:
elementos.insert(0, buffer[0])
elementos

['Jean Charly', 'Joseph', 32, False, 'Leer']

In [48]:
elementos[0] = "Charly"
elementos

['Charly', 'Joseph', 32, False, 'Leer']

# Tupla

In [51]:
elementoTuplas = ("Jean Charly", "Joseph", 32, False)
elementoTuplas

('Jean Charly', 'Joseph', 32, False)

In [53]:
elementoTuplas[0] = "Charly"

TypeError: 'tuple' object does not support item assignment

# Diccionarios
```
{<keys>: <valor>}
```

In [56]:
elementosDicc = {"nombre": "Jean Charly", "apellidos": "Joseph", "edad": 32, "sexo": False}
elementosDicc

{'nombre': 'Jean Charly', 'apellidos': 'Joseph', 'edad': 32, 'sexo': False}

In [59]:
elementosDicc['nombre'] = "Nikola"
elementosDicc

{'nombre': 'Nikola', 'apellidos': 'Joseph', 'edad': 32, 'sexo': False}

In [73]:
elementosDiccM = {'nombres': ["Jean Charly", "Nikola", "Marie"], "apellidos": ["Joseph", "Tesla", "Curie"], "edad": [32, 18, 22], "sexo": [False, False, True]}
elementosDiccM

{'nombres': ['Jean Charly', 'Nikola', 'Marie'],
 'apellidos': ['Joseph', 'Tesla', 'Curie'],
 'edad': [32, 18, 22],
 'sexo': [False, False, True]}

In [61]:
import polars as pl

pl.DataFrame(elementosDiccM)

shape: (3, 4)
┌─────────────┬───────────┬──────┬───────┐
│ nombres     ┆ apellidos ┆ edad ┆ sexo  │
│ ---         ┆ ---       ┆ ---  ┆ ---   │
│ str         ┆ str       ┆ i64  ┆ bool  │
╞═════════════╪═══════════╪══════╪═══════╡
│ Jean Charly ┆ Joseph    ┆ 32   ┆ false │
│ Nikola      ┆ Tesla     ┆ 18   ┆ false │
│ Marie       ┆ Curie     ┆ 22   ┆ true  │
└─────────────┴───────────┴──────┴───────┘

In [64]:
elementosDiccM['nombres'][0] = "Frederic"

In [68]:
elementosDiccM['nombres'][0:2] = "Jean Charly"

In [75]:
for i in range(len(elementosDiccM["sexo"])):
    if elementosDiccM["sexo"][i] == False:
        elementosDiccM["sexo"][i] = True
    else:
        elementosDiccM["sexo"][i] = True

elementosDiccM["sexo"]

[True, True, True]

In [77]:
import numpy as np

In [80]:
elemento2 = np.array(elementosDiccM["sexo"])

In [82]:
np.vectorize(lambda x: False if x == True else False)(elemento2)

array([False, False, False])

In [83]:
arreglo1 = [3, 3, 4, 5, 6, 7, 29]
arreglo1 * 2

[3, 3, 4, 5, 6, 7, 29, 3, 3, 4, 5, 6, 7, 29]

In [84]:
[arreglo1[i] * 2 for i in range(len(arreglo1))]

[6, 6, 8, 10, 12, 14, 58]

In [85]:
nuevoArreglo = []
for i in range(len(arreglo1)):
    nuevoArreglo.append(arreglo1[i] * 2 )
nuevoArreglo

[6, 6, 8, 10, 12, 14, 58]

In [86]:
np.array(arreglo1) * 2

array([ 6,  6,  8, 10, 12, 14, 58])

# Conjuntos

In [89]:
conjunto1 = {2, 3, 3, 4, 455, 4, 3, }
conjunto1

conjunto2 = {2, 3, 33, 4, 5, 6}
conjunto2

{2, 3, 4, 5, 6, 33}

In [91]:
conjunto2 - conjunto1

{5, 6, 33}

In [93]:
conjunto2.intersection(conjunto1)

{2, 3, 4}