# Variables

* Lenguaje  
    - String
    - Integer
    - Float
    - Boole
    - Complex
* Estructuradas
    - Listas
    - Tuplas
    - Diccionario
    - Conjutos

* Sistama Operativo
    - Variables Entorno

In [3]:
# String
nombre = "Jean Charly"

In [6]:
nombre1 = 'Jean Charly "Nikola Tesla"'
nombre1

'Jean Charly "Nikola Tesla"'

In [15]:
nombre1[0:10]

'Jean Charl'

In [21]:
nombre1[0:4] = "Nikola Tesla"

TypeError: 'str' object does not support item assignment

In [25]:
nombre2 = nombre1[0:4].split()[0] = "Nikola Tesla"

In [29]:
nombre3 = nombre1.split()
nombre3[0] = 'Shannon'
nombre3

['Shannon', 'Charly', '"Nikola', 'Tesla"']

In [30]:
" ".join(nombre3)

'Shannon Charly "Nikola Tesla"'

In [32]:
"Hola " + "como estas"

'Hola como estas'

In [35]:
"Hola " * 2

'Hola Hola '

In [37]:
"Hola " + str(2)

'Hola 2'

In [39]:
int("2")

2

# Operadores Aritmeticos
 +, - , *, **, //, /, %

# Operadores Logicos
AND, OR, NOT, None
== , !=, >=, <= <, >

# Operadores de Incremento

+= , -=, *=, **=, //=, /=

# Operadores Binarios
<< , >>,

In [41]:
2j+ 5j

7j

In [42]:
2 + 5j

(2+5j)

# Proposiciones
    * Simple
    * Compuesta

In [44]:
# Simple

2 * 5 == 11

False

In [46]:
# Compuesta

2 * 5 == 11 or 5 <= 10
#FALSE.           TRUE

True

# Control de Flujo
    * Simple
    * Anidado
    * Cascada

In [51]:
#Simple

if (2 * 5) + 1== 11:
    print("Excelente, traste de hacer algo genial.... ") #True
else:
    print("Hiciste el calculo bien.") #False

Excelente, traste de hacer algo genial....

In [55]:
#Compuesto

if (2 * 5) + 1== 11:
    print("Excelente, traste de hacer algo genial.... ") #True
    if 2 < 5:
        print("Excelente")
    else:
        print("Algo tienes que ver mejor.")
else:
    print("Hiciste el calculo bien.") #False

Excelente, traste de hacer algo genial....
Excelente

In [60]:
nombre4 = "Jean Charly"

if nombre4 == "Nikla":
    print("Algo esta mal")
elif nombre4 == "Jean Charly":
    print("Excelente, lo lograste")
elif nombre4 == "Mari":
    print("Pero tienes problema...")
else:
    print("No estas digitando el nombre bien.")

Excelente, lo lograste

# Estrucutra
    * Lista
        - Listas -> "Cuando existe diferentes elementos" ["Jean Charly", 24, True, 5j]
            * Funciones
                - Agregar elemento
                - eliminar elemento
                - Expandir
        - Vectores -> "Cuando los valores Reales"
            - Vectores Columnas
            - Vecores Filas
        - Matrices -> "Cuando existe Filas y Columnas N_d"

In [62]:
elemento1 = [1, 2, 34, 30]
elemento1.append(50)

In [65]:
elemento1.pop(0)

1

In [69]:
elemento1[0] = 100
elemento1.pop()

30

In [75]:
elemento1 + elemento1 + [23]

[100, 34, 100, 34, 23]

In [77]:
elemento2 = elemento1
elemento2

[100, 34]

In [79]:
elemento3 = elemento1.copy()
elemento3

[100, 34]

In [83]:
print("Elemento1:", id(elemento1),"\n", "Elemento2: ", id(elemento2),"\n", "Elemento3: ", id(elemento3))

Elemento1: 139747555757376
 Elemento2:  139747555757376
 Elemento3:  139747555813248

In [81]:
elemento2.append(234234)
elemento1

[100, 34, 234234]

In [85]:
elemento2

[100, 34, 234234]

In [88]:
elemento3

[100, 34]

In [ ]:
#Vector Fila
[3, 3, 4, 5,6]

#Vector Columna
[[3], [4], [4]]

In [89]:
#Matrices

matriz = [
#.  0.  1  2  3
    [1, 2, 3, 4], #0[0][1]
    [3, 4, 5, 6], #1
    [3, 4, 5, 5]  #2

]

In [90]:
matriz

[[1, 2, 3, 4], [3, 4, 5, 6], [3, 4, 5, 5]]

In [92]:
matriz[0][-1]

4

# Tuplas
```
    Son todo aquellos que despues de haber sido creado, no puede ser modificado.
```

In [95]:
tupla1 = ("Jean Charly", "Joseph", 24, "False")
tupla1

('Jean Charly', 'Joseph', 24, 'False')

In [97]:
tupla1[0] = "Nikola Tesla"

TypeError: 'tuple' object does not support item assignment

# Diccionario

```
{'key': valor}
```

In [98]:
perfil = {'nombre': "Jean Charly", "apellido": "Joseph"}
perfil

{'nombre': 'Jean Charly', 'apellido': 'Joseph'}

In [103]:
perfil['apellido']

'Joseph'

In [122]:
perfil1 = {'nombres': ["Nikola", "Marie", "Jean"], "apellidos": ['Tesla', "Curie", 'Tesla'], 'edad': [None, 18, 33]}
perfil1

{'nombres': ['Nikola', 'Marie', 'Jean'],
 'apellidos': ['Tesla', 'Curie', 'Tesla'],
 'edad': [None, 18, 33]}

In [113]:
import polars as pl
pl.DataFrame(perfil1)

shape: (3, 3)
┌─────────┬───────────┬──────┐
│ nombres ┆ apellidos ┆ edad │
│ ---     ┆ ---       ┆ ---  │
│ str     ┆ str       ┆ i64  │
╞═════════╪═══════════╪══════╡
│ Nikola  ┆ Tesla     ┆ null │
│ Marie   ┆ Curie     ┆ 18   │
│ Jean    ┆ Joseph    ┆ 33   │
└─────────┴───────────┴──────┘

# Conjuntos

In [116]:
A = {2, 2, 2, 4, 4, 5, 5, 6, 7, 8}
B = {2, 3, 5, 7}
C = {1, 11, 44}

In [121]:
A.intersection(B)

{2, 5, 7}

In [125]:
set(perfil1["apellidos"])

{'Curie', 'Tesla'}