# Operadores 

## Aritmeticos

```
+, - , *, **,  /, //, %
```

## Comparativos 
Los son estructuras booleanas
```
>, <, >=, <=, ==, ===, !=, <>
```

## Incremento
```
+=, -=, *=, /=, //=, **=
```

## Proposicional Compuesta
```
Y -> and -> &
O -> or -> ||
no -> not -> ~
```

## Ejemplo Aritmeticos

### $\mathbb{R}$

In [28]:
numero1 = 5
numero2 = 10

#Suma 
numero1 = numero1 + numero2
numero1

#Resta
numero1 = numero1 - numero2
numero1

#String

nombre = "Jean"
apellido = "Joseph"
nombreCompleto = nombre +" "+ apellido
nombreCompleto

nombreCompleto1 = "%s %s"%(apellido, nombre)
nombreCompleto1


# nombreCompleto2 = f"Mi nombre completo es: {nombre} {apellido}"

# nombreCompleto2

nombreCompleto3 = "{}, {}".format(apellido, nombre)
nombreCompleto3



# nombre -" "- apellido

nombre * 1000

#Colectores
## Lista
elemento1 = [1, "Jean", 3, True]
elemento2 = [2, 3, 4]

elemento1 + elemento2
# elemento1 - elemento2
elemento2 * 3
[elemento2[i] * 3 for i in range(len(elemento2))]

[6, 9, 12]

## Ejemplo Compartivo

In [46]:
#String
nombre2  = 'Jean Charly'
nombre3 = 'Nikla'
nombre3 > nombre2 

if nombre3 > nombre2 :
    print("Excelente")
else:
    print("Algo esta mal")

#Colectores (Listas, Tuplas, Diccionario, Cojuntos)
# elemento3 = [3, 34, 5,3,]
# elemento4 = [3, 4, 3, 4, 5]
# elemento3 <= elemento4
# elemento3 >= elemento4

#Tupla
elementoT = ('1', "Jean Charly", "Joseph", 34, False)
elementoT1 = ('1', "Jean Charly", "Joseph", 34, False)

elementoT == elementoT1

Excelente

True

In [137]:
# contar  = 0

contar //= 2
print(contar)

5.033133220527016e+203

In [153]:
NUMERO = 40
NUMERO >- 1233234234

True

####  Y   =   v  ->  P1 and P2 -> v|v
####  O   =   v  ->  P1 or P2 ->  v|f
####  no  =   v  ->  not P1 and P2 f|v

In [163]:
numero1 = 25
numero2 = 30
if numero1 < 30 and numero2 < 60:
    print("Excelente")
else:
    print("Resuelva su problema... jejeje")

Excelente

In [167]:
numero1 = 25
numero2 = 30
if numero1 < 30 or not numero2 > 60:
    print("Excelente")
else:
    print("Resuelva su problema... jejeje")

Excelente