# Variables 
* Primitiva
* Colectora
* Sistema Operativo

### Primitivas
* String
* Integer
* Boolean
* Float
* Complex

## String

In [1]:
nombre = "Jean Charly"

In [4]:
print(type(nombre))

<class 'str'>

In [6]:
nombre1 = "jean cHarLy"
print(nombre1)

jean cHarLy

In [10]:
nombre1.title()

'Jean Charly'

In [12]:
nombre1.capitalize()

'Jean charly'

In [15]:
nombre1 = nombre1.title()
nombre1

'Jean Charly'

## Integer

In [1]:
numero = 20

In [2]:
dir(numero)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [5]:
numero = '20'
numero = int(numero)
type(numero)

int

## String - Numeros

In [8]:
nombre = "Jean Charly "
edad = 32

In [6]:
nombre + 3.14

TypeError: can only concatenate str (not "float") to str

In [15]:
nombre * 2

'Jean Charly Jean Charly '

In [19]:
nombre = "Jean Charly Ph."
apellido = "Joseph S."

In [22]:
nombreCompleto = nombre + apellido
nombreCompleto

'Jean Charly Ph.Joseph S.'

In [2]:
edad = int(input("Ingrese su edad: "))
type(edad)

ValueError: invalid literal for int() with base 10: '"Hola"'

#No Tipado

<tipo> <variable> = <valor>


#Tipado
<variable> = <valor>

# Colectoras

#### Lista

In [2]:
# Listas - > [ ]

- append
- extend
- clear
- pop
- remove

In [3]:
elemento = ["Jean Charly", 32, 1.8, 4j, ["Ciencia", "Documentales", "Lectura"]]

In [5]:
id(elemento)

140491668276736

In [6]:
elemento1 = elemento

In [8]:
elemento1.append(["Nikola Tesla", "Marie Curie"])

In [10]:
elemento1

['Jean Charly',
 32,
 1.8,
 4j,
 ['Ciencia', 'Documentales', 'Lectura'],
 ['Nikola Tesla', 'Marie Curie']]

In [12]:
elemento

['Jean Charly',
 32,
 1.8,
 4j,
 ['Ciencia', 'Documentales', 'Lectura'],
 ['Nikola Tesla', 'Marie Curie']]

In [14]:
id(elemento)

140491668276736

In [15]:
id(elemento1)

140491668276736

## $$\sum^{N}_{i=1} x_i$$

* N = Cantidad de elementos
* i = Indice del elemento

In [23]:
len(elemento)

6

In [27]:
elemento[0]

'Jean Charly'

In [22]:
for i in range(7):
    print(i)

0
1
2
3
4
5
6

In [28]:
for i in range(len(elemento)):
    print(i, "<<<>>>", elemento[i])

0 <<<>>> Jean Charly
1 <<<>>> 32
2 <<<>>> 1.8
3 <<<>>> 4j
4 <<<>>> ['Ciencia', 'Documentales', 'Lectura']
5 <<<>>> ['Nikola Tesla', 'Marie Curie']

In [40]:
elemento.append(())
for i in range(len(elemento)):
    print(i, "<<<>>>", elemento[i], "<<<<>>>", type(elemento[i]))

0 <<<>>> Jean Charly <<<<>>> <class 'str'>
1 <<<>>> 32 <<<<>>> <class 'int'>
2 <<<>>> 1.8 <<<<>>> <class 'float'>
3 <<<>>> 4j <<<<>>> <class 'complex'>
4 <<<>>> ['Ciencia', 'Documentales', 'Lectura'] <<<<>>> <class 'list'>
5 <<<>>> ['Nikola Tesla', 'Marie Curie'] <<<<>>> <class 'list'>
6 <<<>>> () <<<<>>> <class 'tuple'>
7 <<<>>> () <<<<>>> <class 'tuple'>

In [42]:
elemento + ["Gauss"]

['Jean Charly',
 32,
 1.8,
 4j,
 ['Ciencia', 'Documentales', 'Lectura'],
 ['Nikola Tesla', 'Marie Curie'],
 (),
 (),
 'Gauss']

#### Arreglo / Vectores

* Vector Filas
* Vector Columna

In [32]:
v = [2, 4, 5, 6, 7] #Numerico
v

[2, 4, 5, 6, 7]

In [34]:
v * 5

[2, 4, 5, 6, 7, 2, 4, 5, 6, 7, 2, 4, 5, 6, 7, 2, 4, 5, 6, 7, 2, 4, 5, 6, 7]

In [35]:
v + 1

TypeError: can only concatenate list (not "int") to list

In [36]:
v + [3, 4, 5]

[2, 4, 5, 6, 7, 3, 4, 5]

In [38]:
v - [3, 4, 5]

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [43]:
v / [3, 4, 5]

TypeError: unsupported operand type(s) for /: 'list' and 'list'

In [44]:
#numpy 

import numpy as np

In [45]:
v_1 = np.array([2, 3, 4, 5])

In [47]:
v_1 * 5

array([10, 15, 20, 25])

In [50]:
v_1.reshape(-1, 1) * v_1

array([[ 4,  6,  8, 10],
       [ 6,  9, 12, 15],
       [ 8, 12, 16, 20],
       [10, 15, 20, 25]])

### Tupla

In [1]:
registro = (234234, "Jean Charly", "Josh", False, ["Hola"])

In [4]:
registro[2] = "Joseph"

TypeError: 'tuple' object does not support item assignment

In [9]:
registro[-1].append("Nikola Tesla")

In [10]:
registro

(234234, 'Jean Charly', 'Josh', False, ['Hola', 'Nikola Tesla'])

In [11]:
registro[-1].append("Nueva contraseña")

In [17]:
registro[0:4]

(234234, 'Jean Charly', 'Josh', False)

In [1]:
dir(registro)

NameError: name 'registro' is not defined

# Diccionario

### { llave : valor }

### Componentes:
- Estructurados
- Semi estructurado
- No estructurado

In [10]:
import polars as pl

In [4]:
registroEstudiantil = {
    "Jean Charly": [23423, "Jean Charly", "Joseph", 32, False, 29384729834,],
    "Nikola Tesla": [23423, "Jean Charly", "Joseph", None, False, 29384729834,]
}

In [5]:
registroEstudiantil["Jean Charly"]

[23423, 'Jean Charly', 'Joseph', 32, False, 29384729834]

In [7]:
registroEstudiantil["Marie Curie"] = []

In [8]:
registroEstudiantil

{'Jean Charly': [23423, 'Jean Charly', 'Joseph', 32, False, 29384729834],
 'Nikola Tesla': [23423, 'Jean Charly', 'Joseph', None, False, 29384729834],
 'Marie Curie': []}

In [19]:
registroEstudiantil["Marie Curie"] = [None, None, None, None, None, None]

In [20]:
pl.DataFrame(registroEstudiantil)

shape: (6, 3)
┌─────────────┬──────────────┬─────────────┐
│ Jean Charly ┆ Nikola Tesla ┆ Marie Curie │
│ ---         ┆ ---          ┆ ---         │
│ str         ┆ str          ┆ f32         │
╞═════════════╪══════════════╪═════════════╡
│ null        ┆ null         ┆ null        │
│ Jean Charly ┆ Jean Charly  ┆ null        │
│ Joseph      ┆ Joseph       ┆ null        │
│ null        ┆ null         ┆ null        │
│ null        ┆ null         ┆ null        │
│ null        ┆ null         ┆ null        │
└─────────────┴──────────────┴─────────────┘

In [27]:
ITLA = {
    "Matematicas": {
        "Estudiantes":{
            "Estua1": [],
            "Estua2": []
        }
    },
    "Fisica": {
        "Estudiantes": {
            "Estua1":[],
            "Estua2":[],
            "Estua3":[]
        }
    }
}

In [31]:
elementoDicc = {"Nombre": ["Jean Charly", "Nikola"], "Apellido": ["Joseph", "Tesla"], "Edad": [32, 20], "Sexo": [False, False]}
elementoDicc

{'Nombre': ['Jean Charly', 'Nikola'],
 'Apellido': ['Joseph', 'Tesla'],
 'Edad': [32, 20],
 'Sexo': [False, False]}

In [32]:
elementoDicc['Nombre']

['Jean Charly', 'Nikola']

In [34]:
elemento1 = [
    {
        "elemento": [1, 2, 3, 4]
    },
    {
        "elemento2": [2, 4, 5, 4]
    }
]

In [38]:
elemento1[0]['elemento'][2] = "Jean Charly"
elemento1

[{'elemento': [1, 2, 'Jean Charly', 4]}, {'elemento2': [2, 4, 5, 4]}]

# $$f(x) = \alpha * \beta$$